@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Segoe UI";
  font-family: system-ui, -apple-system, -apple-system-font, "Segoe UI", "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  touch-action: manipulation;
  scroll-behavior: smooth;
}

body {
  background-color: red;
  padding: 4px;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

div.crud {
  background-color: #F4F4F4;
  padding: 5px 10px;
  height: 100%;
  width: 100%;
  display: grid;
  gap: 5px;
  grid-template-rows: auto auto 1fr auto;
  grid-template-rows: 0.1fr 0.1fr 1fr 0.1fr;
  grid-template-columns: 1fr;
}
div.crud > div.header {
  background-color: #F8F8F8;
}
div.crud > div.header > span.titulo {
  color: #F26B6B;
  font-size: 2.1rem;
  font-family: DosisLight, "Segoe UI", sans-serif;
  display: grid;
  align-items: flex-end;
}
div.crud > div.header > span.subtitulo {
  color: #003C8C;
  font-size: 1rem;
  font-family: "JosefinSansRegular", "OpenSansSemiBold", "Segoe UI", sans-serif;
  letter-spacing: normal;
  font-weight: normal;
}
div.crud > nav {
  display: grid;
  gap: 14px;
  grid-template-columns: auto auto auto 1fr;
  grid-auto-flow: column;
  align-content: center;
  align-items: center;
  justify-content: end;
}
div.crud > nav > span.spTodos,
div.crud > nav span.spMasculino,
div.crud > nav span.spFemenino {
  color: crimson;
  font-size: 1rem;
  font-family: "JosefinSansRegular", "OpenSansSemiBold", "Segoe UI", sans-serif;
  letter-spacing: normal;
  font-weight: normal;
  border-bottom: 2px solid #003C8C;
}
div.crud > nav > label.in_serch {
  background-color: #F0F0F0;
  background-color: rgba(0, 0, 0, 0.0117647059);
  padding: 4px 6px;
  height: fit-content;
  width: 100%;
  display: grid;
  gap: 4px;
  grid-template-columns: auto 1fr auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.02);
  box-shadow: 0px 1px 3px 0px rgba(0, 60, 140, 0);
}
div.crud > nav > label.in_serch:hover {
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.03);
}
div.crud > nav > label.in_serch:active {
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 61, 140, 0.04);
}
div.crud > nav > label.in_serch:focus-within {
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 61, 140, 0.05);
}
div.crud > nav > label.in_serch > button {
  color: tomato;
  background-color: transparent;
  outline: none;
  border: none;
}
div.crud > nav > label.in_serch > button > svg {
  fill: #003c8c;
  height: 12pt;
}
div.crud > nav > label.in_serch > input {
  font-size: 0.8rem;
  font-family: "OpenSansSemiBold", "Segoe UI", sans-serif;
  color: #003c8c;
  background-color: transparent;
  padding: 0.2rem 0.1rem;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
}
div.crud > nav > label.in_serch > input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 0.8rem;
  font-family: "Open Sans Regular", "Segoe UI", sans-serif;
  color: #b9babe;
  color: #003c8c;
  opacity: 1;
  /* Firefox */
}
div.crud > nav > label.in_marcador,
div.crud > nav .in_assoc,
div.crud > nav .in_temas {
  background-color: rgba(0, 0, 0, 0);
  padding: 4px 6px;
  height: fit-content;
  min-width: 150px;
  max-width: 150px;
  display: grid;
  gap: 4px;
  grid-auto-flow: row;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  border-radius: 8px;
}
div.crud > nav > label.in_marcador:hover,
div.crud > nav .in_assoc:hover,
div.crud > nav .in_temas:hover {
  background-color: #F0F0F0;
}
div.crud > nav > label.in_marcador:active,
div.crud > nav .in_assoc:active,
div.crud > nav .in_temas:active {
  background-color: #F0F0F0;
}
div.crud > nav > label.in_marcador:focus,
div.crud > nav .in_assoc:focus,
div.crud > nav .in_temas:focus {
  background-color: #F0F0F0;
}
div.crud > nav > label.in_marcador:focus-within,
div.crud > nav .in_assoc:focus-within,
div.crud > nav .in_temas:focus-within {
  background-color: #F0F0F0;
}
div.crud > nav > label.in_marcador > span,
div.crud > nav .in_assoc > span,
div.crud > nav .in_temas > span {
  width: 100%;
  color: #003c8c;
  font-size: 0.95rem;
  font-family: OpenSansRegular, "Segoe UI", sans-serif;
}
div.crud > nav > label.in_marcador > input,
div.crud > nav .in_assoc > input,
div.crud > nav .in_temas > input {
  font-size: 0.8rem;
  font-family: "OpenSansSemiBold", "Segoe UI", sans-serif;
  color: #707277;
  background-color: transparent;
  padding: 0.2rem 0.1rem;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
}
div.crud > nav > label.in_marcador > input::placeholder,
div.crud > nav .in_assoc > input::placeholder,
div.crud > nav .in_temas > input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 0.8rem;
  font-family: "Open Sans Regular", "Segoe UI", sans-serif;
  color: #b9babe;
  color: #003c8c;
  opacity: 1;
  /* Firefox */
}
div.crud > nav > label.in_marcador > textarea,
div.crud > nav .in_assoc > textarea,
div.crud > nav .in_temas > textarea {
  font-size: 0.95rem;
  font-family: OpenSansRegular, "Segoe UI", sans-serif;
  color: #707277;
  background-color: #f5f6fa;
  background-color: rgba(0, 0, 0, 0);
  /* mobile */
  padding: 0.2rem 0.1rem;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
}
div.crud > nav > label.in_marcador > textarea::placeholder,
div.crud > nav .in_assoc > textarea::placeholder,
div.crud > nav .in_temas > textarea::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 0.95rem;
  font-family: OpenSansRegular, "Segoe UI", sans-serif;
  color: #b9babe;
  opacity: 1;
  /* Firefox */
}
div.crud > nav > label.in_marcador > .dropdownSelc,
div.crud > nav .in_assoc > .dropdownSelc,
div.crud > nav .in_temas > .dropdownSelc {
  background-color: rgba(0, 0, 0, 0);
  /* mobile */
  min-width: fit-content;
  display: grid;
  gap: 0px 5px;
  grid-auto-flow: column;
  grid-auto-columns: 1.5fr auto auto;
  border-radius: 4px;
}
div.crud > nav > label.in_marcador > .dropdownSelc > button.btnClean,
div.crud > nav .in_assoc > .dropdownSelc > button.btnClean,
div.crud > nav .in_temas > .dropdownSelc > button.btnClean {
  display: none;
  color: #2D4B73;
  font-size: 0.85rem;
}
div.crud > nav > label.in_marcador > .dropdownSelc > button,
div.crud > nav .in_assoc > .dropdownSelc > button,
div.crud > nav .in_temas > .dropdownSelc > button {
  /* width: 12px; */
  background-color: transparent;
  border-radius: 50%;
  padding: 5px;
  /* height: 100%; */
  outline: 0;
  border: 0;
  transition: 0.5s;
}
div.crud > nav > label.in_marcador > .dropdownSelc > button:hover,
div.crud > nav .in_assoc > .dropdownSelc > button:hover,
div.crud > nav .in_temas > .dropdownSelc > button:hover {
  cursor: pointer;
}
div.crud > nav > label.in_marcador > .dropdownSelc > button > div,
div.crud > nav .in_assoc > .dropdownSelc > button > div,
div.crud > nav .in_temas > .dropdownSelc > button > div {
  width: 8px;
  height: 8px;
  border-top: 2px solid transparent;
  /*tem que a mesma cor do background */
  border-bottom: 1px solid #2D4B73;
  border-right: 2px solid transparent;
  /*tem que a mesma cor do background */
  border-left: 1px solid #2D4B73;
  transform: rotate(-45deg);
  transition: 0.5s;
}
div.crud > nav > label.in_marcador > .dropdownSelc > input,
div.crud > nav .in_assoc > .dropdownSelc > input,
div.crud > nav .in_temas > .dropdownSelc > input {
  font-size: 0.8rem;
  font-family: "OpenSansSemiBold", "Segoe UI", sans-serif;
  color: #707277;
  background-color: transparent;
  padding: 0.2rem 0.1rem;
  min-width: 100%;
  border: none;
  outline: none;
}
div.crud > nav > label.in_marcador > .dropdownSelc > input::placeholder,
div.crud > nav .in_assoc > .dropdownSelc > input::placeholder,
div.crud > nav .in_temas > .dropdownSelc > input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 0.8rem;
  font-family: "Open Sans Regular", "Segoe UI", sans-serif;
  color: #b9babe;
  color: #003c8c;
  opacity: 1;
  /* Firefox */
}
div.crud > nav > label.in_marcador > .dropdownSelc > div.optsDropdown,
div.crud > nav .in_assoc > .dropdownSelc > div.optsDropdown,
div.crud > nav .in_temas > .dropdownSelc > div.optsDropdown {
  position: absolute;
  display: none;
}
div.crud > nav > label.in_marcador > .dropdownSelc > div.optsDropdown > div,
div.crud > nav .in_assoc > .dropdownSelc > div.optsDropdown > div,
div.crud > nav .in_temas > .dropdownSelc > div.optsDropdown > div {
  position: absolute;
  top: 48px;
  min-height: 150px;
  max-height: 150px;
  width: 100%;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: scroll;
  transition: 0.5s;
  display: block;
  z-index: 9999;
}
div.crud > nav > label.in_marcador > .dropdownSelc > div.optsDropdown > div::-webkit-scrollbar,
div.crud > nav .in_assoc > .dropdownSelc > div.optsDropdown > div::-webkit-scrollbar,
div.crud > nav .in_temas > .dropdownSelc > div.optsDropdown > div::-webkit-scrollbar {
  width: 8px;
}
div.crud > nav > label.in_marcador > .dropdownSelc > div.optsDropdown > div::-webkit-scrollbar-track,
div.crud > nav .in_assoc > .dropdownSelc > div.optsDropdown > div::-webkit-scrollbar-track,
div.crud > nav .in_temas > .dropdownSelc > div.optsDropdown > div::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 0px;
}
div.crud > nav > label.in_marcador > .dropdownSelc > div.optsDropdown > div::-webkit-scrollbar-thumb,
div.crud > nav .in_assoc > .dropdownSelc > div.optsDropdown > div::-webkit-scrollbar-thumb,
div.crud > nav .in_temas > .dropdownSelc > div.optsDropdown > div::-webkit-scrollbar-thumb {
  background: #d6d6d6;
  border-radius: 0px;
}
div.crud > nav > label.in_marcador > .dropdownSelc > div.optsDropdown > div > div,
div.crud > nav .in_assoc > .dropdownSelc > div.optsDropdown > div > div,
div.crud > nav .in_temas > .dropdownSelc > div.optsDropdown > div > div {
  padding: 8px 12px;
  cursor: pointer;
  display: grid;
  color: #9d9ea2;
  font-size: 0.8rem;
  font-family: "OpenSansSemiBold", "Segoe UI", sans-serif;
  color: #707277;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  white-space: nowrap;
}
div.crud > nav > label.in_marcador > .dropdownSelc > div.optsDropdown > div > div:hover,
div.crud > nav .in_assoc > .dropdownSelc > div.optsDropdown > div > div:hover,
div.crud > nav .in_temas > .dropdownSelc > div.optsDropdown > div > div:hover {
  background-color: #2D4B73;
  color: white;
}
div.crud > nav > label.in_marcador > .dropdownSelc > div.optsDropdown > div > div > .btnAdd,
div.crud > nav .in_assoc > .dropdownSelc > div.optsDropdown > div > div > .btnAdd,
div.crud > nav .in_temas > .dropdownSelc > div.optsDropdown > div > div > .btnAdd {
  height: min-content;
  width: max-content;
  padding: 4px 16px;
  display: grid;
  gap: 15px;
  border: none;
  outline: 0;
  grid-auto-flow: column;
  border-radius: 4px;
  animation-fill-mode: both;
  animation-duration: 400ms;
  transition: 400ms ease-out;
  align-self: center;
  justify-self: center;
  align-items: center;
}
div.crud > nav > label.in_marcador > .dropdownSelc > div.optsDropdown > div > div > .btnAdd:hover,
div.crud > nav .in_assoc > .dropdownSelc > div.optsDropdown > div > div > .btnAdd:hover,
div.crud > nav .in_temas > .dropdownSelc > div.optsDropdown > div > div > .btnAdd:hover {
  background-color: gainsboro;
}
div.crud > nav > label.in_marcador > .dropdownSelc > div.optsDropdown > div > div > .btnAdd:hover > svg,
div.crud > nav .in_assoc > .dropdownSelc > div.optsDropdown > div > div > .btnAdd:hover > svg,
div.crud > nav .in_temas > .dropdownSelc > div.optsDropdown > div > div > .btnAdd:hover > svg {
  fill: #003c8c;
}
div.crud > nav > label.in_marcador > .dropdownSelc > div.optsDropdown > div > div > .btnAdd span,
div.crud > nav .in_assoc > .dropdownSelc > div.optsDropdown > div > div > .btnAdd span,
div.crud > nav .in_temas > .dropdownSelc > div.optsDropdown > div > div > .btnAdd span {
  width: 100%;
  color: #003c8c;
  font-size: 0.8rem;
  font-family: "OpenSansRegular", "Segoe UI", sans-serif;
}
div.crud > nav > label.in_marcador > .dropdownSelc > div.optsDropdown > div > div > .btnAdd > svg,
div.crud > nav .in_assoc > .dropdownSelc > div.optsDropdown > div > div > .btnAdd > svg,
div.crud > nav .in_temas > .dropdownSelc > div.optsDropdown > div > div > .btnAdd > svg {
  fill: #003c8c;
  height: 15px;
}
div.crud > nav > label.in_marcador > button.btnFavorito,
div.crud > nav .in_assoc > button.btnFavorito,
div.crud > nav .in_temas > button.btnFavorito {
  background-color: inherit;
  padding: 4px;
  width: fit-content;
  border-radius: 4px;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0);
}
div.crud > nav > label.in_marcador > button.btnFavorito:hover,
div.crud > nav .in_assoc > button.btnFavorito:hover,
div.crud > nav .in_temas > button.btnFavorito:hover {
  background-color: rgba(0, 60, 140, 0.1215686275);
}
div.crud > nav > label.in_marcador > button.btnFavorito:hover > svg,
div.crud > nav .in_assoc > button.btnFavorito:hover > svg,
div.crud > nav .in_temas > button.btnFavorito:hover > svg {
  fill: tomato;
}
div.crud > nav > label.in_marcador > button.btnFavorito > svg.n,
div.crud > nav .in_assoc > button.btnFavorito > svg.n,
div.crud > nav .in_temas > button.btnFavorito > svg.n {
  display: grid;
  height: 28px;
  fill: #003C8C;
}
div.crud > nav > label.in_marcador > button.btnFavorito > svg.s,
div.crud > nav .in_assoc > button.btnFavorito > svg.s,
div.crud > nav .in_temas > button.btnFavorito > svg.s {
  display: none;
  height: 28px;
  fill: #003C8C;
}
div.crud > nav > button.btnPesquisar {
  background-color: #fff;
  padding: 5px 10px;
  height: fit-content;
  display: grid;
  align-self: center;
  gap: 0 5px;
  align-items: center;
  outline: 0;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 0px 1px 3px 0px rgba(0, 60, 140, 0.15);
}
div.crud > nav > button.btnPesquisar:hover {
  background-color: #f8f8f8;
  border: 1px solid rgba(0, 61, 140, 0.18);
}
div.crud > nav > button.btnPesquisar:active {
  background-color: #f5f5f5;
  box-shadow: 0px 1px 3px 0px rgba(0, 60, 140, 0.15);
}
div.crud > nav > button.btnPesquisar:focus {
  background-color: #f8f8f8;
  box-shadow: 0px 1px 3px 0px rgba(0, 60, 140, 0.15);
  border: 1px solid rgba(0, 61, 140, 0.28);
}
div.crud > nav > button.btnPesquisar > span {
  width: 100%;
  color: #003d8c;
  font-size: 0.9rem;
  font-family: "DosisMedium", "OpenSansSemiBold", "Segoe UI", sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
div.crud > nav > button.btnLimparFiltro,
div.crud > nav > button.btnMaisFiltros {
  background-color: #fff;
  padding: 4px 7px;
  height: fit-content;
  width: fit-content;
  display: grid;
  align-items: center;
  outline: 0;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0);
  white-space: nowrap;
  align-self: center;
  box-shadow: 0px 1px 3px 0px rgba(0, 60, 140, 0.15);
}
div.crud > nav > button.btnLimparFiltro:hover,
div.crud > nav > button.btnMaisFiltros:hover {
  background-color: #f8f8f8;
  border: 1px solid rgba(0, 61, 140, 0.18);
}
div.crud > nav > button.btnLimparFiltro:active,
div.crud > nav > button.btnMaisFiltros:active {
  background-color: #f5f5f5;
  box-shadow: 0px 1px 3px 0px rgba(0, 60, 140, 0.15);
}
div.crud > nav > button.btnLimparFiltro:focus,
div.crud > nav > button.btnMaisFiltros:focus {
  background-color: #f8f8f8;
  box-shadow: 0px 1px 3px 0px rgba(0, 60, 140, 0.15);
  border: 1px solid rgba(0, 61, 140, 0.28);
}
div.crud > nav > button.btnLimparFiltro > svg,
div.crud > nav > button.btnMaisFiltros > svg {
  height: 12pt;
  fill: tomato;
}
div.crud > nav > button.btnLimparFiltro > span,
div.crud > nav > button.btnMaisFiltros > span {
  width: 100%;
  color: tomato;
  font-size: 1.1rem;
  font-family: "DosisMedium", "OpenSansSemiBold", "Segoe UI", sans-serif;
  letter-spacing: 1px;
}
div.crud > div.main {
  background-color: rgba(0, 0, 0, 0);
  padding: 5px;
  display: grid;
  overflow: hidden;
}
div.crud > div.main > .tbBaralhos {
  height: 80%;
  width: 80%;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  align-self: center;
  justify-self: center;
  overflow: hidden;
}
div.crud > div.main > .tbBaralhos > header {
  background-color: lightgray;
  background-color: #FFF;
  padding: 8px 4px;
  width: 100%;
  display: grid;
  gap: 5px 10px;
  grid-template-columns: min-content 1fr;
  align-items: center;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
}
div.crud > div.main > .tbBaralhos > header > .btnAdd {
  height: min-content;
  width: max-content;
  padding: 15px;
  display: grid;
  border: none;
  outline: 0;
  border-radius: 50%;
  animation-fill-mode: both;
  animation-duration: 400ms;
  transition: 400ms ease-out;
}
div.crud > div.main > .tbBaralhos > header > .btnAdd:hover {
  background-color: #003c8c;
}
div.crud > div.main > .tbBaralhos > header > .btnAdd:hover > svg {
  fill: #FFF;
}
div.crud > div.main > .tbBaralhos > header > .btnAdd > svg {
  fill: #003c8c;
  height: 21px;
}
div.crud > div.main > .tbBaralhos > header > .sp_tituloTable {
  color: tomato;
  font-size: 1.1rem;
  justify-self: center;
}
div.crud > div.main > .tbBaralhos > main {
  display: grid;
  overflow: hidden;
  border-top: 10px solid slategray;
  border-bottom: 5px solid slategray;
}
div.crud > div.main > .tbBaralhos > main > .containerTable {
  overflow: auto;
  border: 1px solid gainsboro;
  /* Works on Chrome, Edge, and Safari */
}
div.crud > div.main > .tbBaralhos > main > .containerTable::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}
div.crud > div.main > .tbBaralhos > main > .containerTable::-webkit-scrollbar-track {
  background: rgb(235, 235, 235);
}
div.crud > div.main > .tbBaralhos > main > .containerTable::-webkit-scrollbar-thumb {
  background-color: #fff;
  border: 1px solid rgb(235, 235, 235);
}
div.crud > div.main > .tbBaralhos > main > .containerTable > table {
  /* Not required only for visualizing */
  border-collapse: collapse;
  width: 100%;
}
div.crud > div.main > .tbBaralhos > main > .containerTable > table > caption {
  background-color: #F7F8FA;
  position: sticky;
  z-index: 100;
  top: 0;
}
div.crud > div.main > .tbBaralhos > main > .containerTable > table > caption > div {
  background-color: #FFF;
  padding: 8px;
  min-height: 70px;
  display: grid;
  gap: 5px 15px;
  justify-content: start;
}
div.crud > div.main > .tbBaralhos > main > .containerTable > table > caption > div > span {
  color: #F26B6B;
  font-size: 1.5rem;
  font-family: DosisLight, "Segoe UI", sans-serif;
  display: grid;
  align-items: flex-end;
}
div.crud > div.main > .tbBaralhos > main > .containerTable > table > caption > div > span:nth-child(2) {
  color: #003c8c;
  font-size: 1.2rem;
  font-family: DosisLight, "Segoe UI", sans-serif;
  text-align: left;
}
div.crud > div.main > .tbBaralhos > main > .containerTable > table > thead > tr > th {
  color: #707277;
  color: #003c8c;
  font-size: 0.85rem;
  font-family: "OpenSansRegular", "Segoe UI", sans-serif;
  text-align: left;
  background-color: #fff;
  padding: 5px 10px;
  position: sticky;
  top: 0px;
  white-space: nowrap;
}
div.crud > div.main > .tbBaralhos > main > .containerTable > table > thead > tr > th > div {
  display: flex;
  /* justify-items: stretch; */
  align-content: center;
  align-items: center;
  justify-content: space-between;
  cursor: default;
}
div.crud > div.main > .tbBaralhos > main > .containerTable > table > thead > tr > th > div > button {
  /* width: 12px; */
  background-color: transparent;
  border-radius: 50%;
  padding: 5px;
  /* height: 100%; */
  outline: 0;
  border: 0;
  transition: 0.5s;
}
div.crud > div.main > .tbBaralhos > main > .containerTable > table > thead > tr > th > div > button > div {
  width: 8px;
  height: 8px;
  border-top: 2px solid transparent;
  /*tem que a mesma cor do background */
  border-bottom: 1px solid #555;
  border-right: 2px solid transparent;
  /*tem que a mesma cor do background */
  border-left: 1px solid #555;
  transform: rotate(-45deg);
  transition: 0.5s;
  cursor: default;
}
div.crud > div.main > .tbBaralhos > main > .containerTable > table > thead > tr > th.thActions {
  display: none;
}
div.crud > div.main > .tbBaralhos > main > .containerTable > table > tbody {
  color: #707277;
  font-size: 0.85rem;
  font-family: "OpenSansRegular", "Segoe UI", sans-serif;
}
div.crud > div.main > .tbBaralhos > main > .containerTable > table > tbody > tr {
  border-bottom: 1px solid #E8E9F2;
}
div.crud > div.main > .tbBaralhos > main > .containerTable > table > tbody > tr:hover {
  background-color: #E8E9F2;
  color: #8D8BB3;
  font-weight: bold;
  border-bottom: 1px solid #E8E9F2;
}
div.crud > div.main > .tbBaralhos > main > .containerTable > table > tbody > tr > td {
  padding: 15px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
div.crud > div.main > .tbBaralhos > main > .containerTable > table > tbody > tr > td.tdFavorito {
  padding: 15px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
div.crud > div.main > .tbBaralhos > main > .containerTable > table > tbody > tr > td.tdFavorito > svg.n {
  display: grid;
  fill: #003C8C;
}
div.crud > div.main > .tbBaralhos > main > .containerTable > table > tbody > tr > td.tdFavorito > svg.s {
  display: none;
  fill: #003C8C;
}
div.crud > div.main > .tbBaralhos > main > .containerTable > table > tbody > tr > td.action {
  padding: 4px;
  width: 20px;
  min-width: 20px;
  max-width: 20px;
  display: none;
  overflow: hidden;
  white-space: nowrap;
}
div.crud > div.main > .tbBaralhos > main > .containerTable > table > tbody > tr > td.action > input.checkDel {
  width: 20px;
  height: 20px;
  appearance: none;
  background-color: #fff;
  border: 1px solid darkgrey;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  position: relative;
}
div.crud > div.main > .tbBaralhos > main > .containerTable > table > tbody > tr > td.action > input.checkDel:checked {
  background-color: rgba(185, 186, 190, 0.231372549);
  animation: check-animation 0.3s ease-in-out;
}
div.crud > div.main > .tbBaralhos > main > .containerTable > table > tbody > tr > td.action > input.checkDel.checkDel:checked::after {
  content: "✔";
  font-size: 1.5rem;
  color: green;
  display: block;
  position: absolute;
  top: 30%;
  left: 73%;
  transform: translate(-50%, -50%);
  opacity: 1;
  animation: check-after-animation 0.3s ease-in-out;
}
@keyframes check-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes check-after-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
div.crud > div.main > .tbBaralhos > main > .containerTable > table > tbody > tr > td.tbTema {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
div.crud > div.main > .tbBaralhos > footer {
  background-color: #FFF;
  padding: 4px;
  display: grid;
  grid-template-columns: min-content 1fr auto;
  align-items: center;
}
div.crud > div.main > .tbBaralhos > footer span.spTotal {
  color: #003C8C;
  font-size: 1rem;
  font-family: "JosefinSansRegular", "OpenSansSemiBold", "Segoe UI", sans-serif;
  letter-spacing: normal;
  font-weight: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
div.crud > div.main > .tbBaralhos > footer > div.pagination {
  padding: 6px 10px;
  width: 100%;
  display: grid;
  gap: 8px;
  grid-auto-flow: column;
}
div.crud > div.main > .tbBaralhos > footer > div.pagination > label.in_pageSelc {
  background-color: #F0F0F0;
  padding: 2px 5px;
  height: fit-content;
  width: min-content;
  min-width: 80px;
  display: grid;
  gap: 4px;
  grid-template-columns: auto 1fr auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.02);
  box-shadow: 0px 1px 3px 0px rgba(0, 60, 140, 0);
}
div.crud > div.main > .tbBaralhos > footer > div.pagination > label.in_pageSelc:hover {
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.03);
}
div.crud > div.main > .tbBaralhos > footer > div.pagination > label.in_pageSelc:active {
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 61, 140, 0.04);
}
div.crud > div.main > .tbBaralhos > footer > div.pagination > label.in_pageSelc:focus-within {
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 61, 140, 0.05);
}
div.crud > div.main > .tbBaralhos > footer > div.pagination > label.in_pageSelc > span {
  width: 100%;
  color: #003d8c;
  font-size: 0.9rem;
  font-family: "DosisMedium", "OpenSansSemiBold", "Segoe UI", sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
div.crud > div.main > .tbBaralhos > footer > div.pagination > label.in_pageSelc > input {
  font-size: 0.8rem;
  font-family: "DosisMedium", "Segoe UI", sans-serif;
  color: #003c8c;
  background-color: transparent;
  text-align: center;
  padding: 0.2rem 0.1rem;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
}
div.crud > div.main > .tbBaralhos > footer > div.pagination > label.in_pageSelc > input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 0.8rem;
  font-family: "DosisMedium", "Segoe UI", sans-serif;
  color: #b9babe;
  color: #003c8c;
  opacity: 1;
  /* Firefox */
}
div.crud > div.main > .tbBaralhos > footer > div.pagination > label.in_rowsPagLimit {
  background-color: #F0F0F0;
  padding: 2px 5px;
  height: fit-content;
  width: min-content;
  min-width: 120px;
  display: grid;
  gap: 4px;
  grid-template-columns: auto 1fr auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.02);
  box-shadow: 0px 1px 3px 0px rgba(0, 60, 140, 0);
}
div.crud > div.main > .tbBaralhos > footer > div.pagination > label.in_rowsPagLimit:hover {
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.03);
}
div.crud > div.main > .tbBaralhos > footer > div.pagination > label.in_rowsPagLimit:active {
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 61, 140, 0.04);
}
div.crud > div.main > .tbBaralhos > footer > div.pagination > label.in_rowsPagLimit:focus-within {
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 61, 140, 0.05);
}
div.crud > div.main > .tbBaralhos > footer > div.pagination > label.in_rowsPagLimit > span {
  width: 100%;
  color: #003d8c;
  font-size: 0.9rem;
  font-family: "DosisMedium", "OpenSansSemiBold", "Segoe UI", sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
div.crud > div.main > .tbBaralhos > footer > div.pagination > label.in_rowsPagLimit > input {
  font-size: 0.8rem;
  font-family: "DosisMedium", "Segoe UI", sans-serif;
  color: #003c8c;
  text-align: center;
  background-color: transparent;
  padding: 0.2rem 0.1rem;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
}
div.crud > div.main > .tbBaralhos > footer > div.pagination > label.in_rowsPagLimit > input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 0.8rem;
  font-family: "DosisMedium", "Segoe UI", sans-serif;
  color: #b9babe;
  color: #003c8c;
  opacity: 1;
  /* Firefox */
}
div.crud > div.main > .tbBaralhos > footer > div.pagination > label.in_rowsAtual {
  background-color: #F0F0F0;
  padding: 2px 5px;
  height: fit-content;
  width: min-content;
  min-width: 100px;
  display: grid;
  gap: 4px;
  grid-template-columns: auto 1fr auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.02);
  box-shadow: 0px 1px 3px 0px rgba(0, 60, 140, 0);
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}
div.crud > div.main > .tbBaralhos > footer > div.pagination > label.in_rowsAtual:hover {
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.03);
}
div.crud > div.main > .tbBaralhos > footer > div.pagination > label.in_rowsAtual:active {
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 61, 140, 0.04);
}
div.crud > div.main > .tbBaralhos > footer > div.pagination > label.in_rowsAtual:focus-within {
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 61, 140, 0.05);
}
div.crud > div.main > .tbBaralhos > footer > div.pagination > label.in_rowsAtual > span {
  width: 100%;
  color: #003d8c;
  font-size: 0.9rem;
  font-family: "DosisMedium", "OpenSansSemiBold", "Segoe UI", sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
div.crud > div.main > .tbBaralhos > footer > div.pagination > label.in_rowsAtual > input {
  font-size: 0.8rem;
  font-family: "DosisMedium", "Segoe UI", sans-serif;
  color: #003c8c;
  text-align: center;
  background-color: transparent;
  padding: 0.2rem 0.1rem;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  pointer-events: none;
}
div.crud > div.main > .tbBaralhos > footer > div.pagination > label.in_rowsAtual > input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 0.8rem;
  font-family: "DosisMedium", "Segoe UI", sans-serif;
  color: #b9babe;
  color: #003c8c;
  opacity: 1;
  /* Firefox */
}
div.crud > div.main > .tbBaralhos > footer > div.pagination > button {
  background-color: #fff;
  padding: 2px 10px;
  height: fit-content;
  display: grid;
  align-self: center;
  gap: 0 5px;
  align-items: center;
  outline: 0;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 0px 1px 3px 0px rgba(0, 60, 140, 0.15);
}
div.crud > div.main > .tbBaralhos > footer > div.pagination > button:hover {
  background-color: #f8f8f8;
  border: 1px solid rgba(0, 61, 140, 0.18);
}
div.crud > div.main > .tbBaralhos > footer > div.pagination > button:active {
  background-color: #f5f5f5;
  box-shadow: 0px 1px 3px 0px rgba(0, 60, 140, 0.15);
}
div.crud > div.main > .tbBaralhos > footer > div.pagination > button:focus {
  background-color: #f8f8f8;
  box-shadow: 0px 1px 3px 0px rgba(0, 60, 140, 0.15);
  border: 1px solid rgba(0, 61, 140, 0.28);
}
div.crud > div.main > .tbBaralhos > footer > div.pagination > button > svg {
  fill: #003d8c;
}
div.crud > footer {
  background-color: white;
  padding: 4px 10px;
  height: fit-content;
  display: grid;
  gap: 0 15px;
  grid-template-columns: min-content auto 1fr;
  justify-items: center;
}
div.crud > footer > div.infos {
  min-width: max-content;
  display: grid;
}
div.crud > footer > div.infos > span.titulo {
  color: #003d8c;
  font-size: 1rem;
  font-family: "JosefinSansRegular", "OpenSansSemiBold", "Segoe UI", sans-serif;
  align-self: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: default;
}
div.crud > footer > div.actions {
  background-color: white;
  background-color: #f0f0f0;
  background-color: rgba(240, 240, 240, 0.2784313725);
  margin: 0 0 0 15px;
  padding: 6px 10px;
  width: fit-content;
  display: grid;
  grid-auto-flow: column;
  gap: 8px;
  border-radius: 8px;
}
div.crud > footer > div.actions > button.btnAddRegistro,
div.crud > footer > div.actions > button.btnSelc,
div.crud > footer > div.actions > button.btnDel,
div.crud > footer > div.actions > button.btnUpdate {
  background-color: rgba(0, 0, 0, 0);
  padding: 4px 7px;
  height: fit-content;
  width: fit-content;
  display: grid;
  align-items: center;
  outline: 0;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0);
  white-space: nowrap;
  align-self: center;
}
div.crud > footer > div.actions > button.btnAddRegistro:hover,
div.crud > footer > div.actions > button.btnSelc:hover,
div.crud > footer > div.actions > button.btnDel:hover,
div.crud > footer > div.actions > button.btnUpdate:hover {
  background-color: #fafafa;
  box-shadow: 0px 1px 3px 0px rgba(0, 60, 140, 0.15);
}
div.crud > footer > div.actions > button.btnAddRegistro:active,
div.crud > footer > div.actions > button.btnSelc:active,
div.crud > footer > div.actions > button.btnDel:active,
div.crud > footer > div.actions > button.btnUpdate:active {
  background-color: #fafafa;
  box-shadow: 0px 1px 3px 0px rgba(0, 60, 140, 0.15);
}
div.crud > footer > div.actions > button.btnAddRegistro:focus,
div.crud > footer > div.actions > button.btnSelc:focus,
div.crud > footer > div.actions > button.btnDel:focus,
div.crud > footer > div.actions > button.btnUpdate:focus {
  background-color: #fafafa;
  box-shadow: 0px 1px 3px 0px rgba(0, 60, 140, 0.15);
}
div.crud > footer > div.actions > button.btnAddRegistro > svg,
div.crud > footer > div.actions > button.btnSelc > svg,
div.crud > footer > div.actions > button.btnDel > svg,
div.crud > footer > div.actions > button.btnUpdate > svg {
  height: 14pt;
  fill: crimson;
  fill: #003c8c;
}
div.crud > footer > div.actions > button.btnDel {
  display: none;
}
div.crud > footer > div.actions > button.btnDel > svg {
  height: 14pt;
  fill: crimson;
}
div.crud > footer > div.actions > button.btnUpdate {
  display: none;
}
div.crud > footer > div.actions > button.btnUpdate > svg {
  height: 14pt;
  fill: crimson;
  fill: goldenrod;
}

div.form {
  background-color: rgba(41, 41, 41, 0);
  padding: 10px;
  height: 100%;
  width: 100%;
  display: none;
  justify-items: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  z-index: 999;
}
div.form div.wrapper {
  background-color: #fff;
  height: 70%;
  width: 65%;
  display: grid;
  grid-template-rows: auto 1fr 0.2fr;
  border-radius: 8px;
  overflow: hidden;
}
div.form div.wrapper > div.header {
  background-color: #F8F8F8;
  padding: 15px 25px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
div.form div.wrapper > div.header > span.titulo {
  color: #003C8C;
  font-size: 1rem;
  font-family: "JosefinSansRegular", "OpenSansSemiBold", "Segoe UI", sans-serif;
  letter-spacing: normal;
  font-weight: normal;
}
div.form div.wrapper > div.main {
  background-color: #F1F1F1;
  display: grid;
  grid-template-columns: 0.85fr 1fr;
}
div.form div.wrapper > div.main > div.dockLeft {
  padding: 10PX;
  display: grid;
  gap: 35px;
  align-content: center;
  justify-items: center;
}
div.form div.wrapper > div.main > div.dockLeft > button.btnSeclIgm {
  background-color: #FFF;
  background-size: cover;
  background-position: center;
  padding: 4PX;
  height: 175px;
  width: 175px;
  display: grid;
  overflow: hidden;
  position: relative;
  border: 1px solid #d1d0d0;
  border-radius: 50%;
  outline: 1px solid rgba(0, 0, 0, 0);
}
div.form div.wrapper > div.main > div.dockLeft > button.btnSeclIgm > span {
  margin: 50% auto;
  width: 100%;
  position: absolute;
}
div.form div.wrapper > div.main > div.dockLeft > button.btnShowGravador {
  background-color: #fff;
  padding: 5px 10px;
  height: fit-content;
  display: grid;
  align-self: center;
  gap: 0 5px;
  align-items: center;
  outline: 0;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 0px 1px 3px 0px rgba(0, 60, 140, 0.15);
}
div.form div.wrapper > div.main > div.dockLeft > button.btnShowGravador:hover {
  background-color: #f8f8f8;
  border: 1px solid rgba(0, 61, 140, 0.18);
}
div.form div.wrapper > div.main > div.dockLeft > button.btnShowGravador:active {
  background-color: #f5f5f5;
  box-shadow: 0px 1px 3px 0px rgba(0, 60, 140, 0.15);
}
div.form div.wrapper > div.main > div.dockLeft > button.btnShowGravador:focus {
  background-color: #f8f8f8;
  box-shadow: 0px 1px 3px 0px rgba(0, 60, 140, 0.15);
  border: 1px solid rgba(0, 61, 140, 0.28);
}
div.form div.wrapper > div.main > div.dockLeft > button.btnShowGravador > span {
  width: 100%;
  color: #003d8c;
  font-size: 0.9rem;
  font-family: "DosisMedium", "OpenSansSemiBold", "Segoe UI", sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
div.form div.wrapper > div.main > div.dockLeft .audio-recorder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #ddd;
  position: relative;
}
div.form div.wrapper > div.main > div.dockLeft .audio-recorder .record-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 25px;
  left: 25px;
  cursor: pointer;
}
div.form div.wrapper > div.main > div.dockLeft .audio-recorder .record-button i {
  font-size: 20px;
  color: #333;
}
div.form div.wrapper > div.main > div.dockLeft .audio-recorder .recording-state {
  display: none;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #ff6347;
  position: absolute;
  top: 0;
  left: 0;
  animation: recording 1s infinite;
}
@keyframes recording {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.05);
  }
  40% {
    transform: scale(1);
  }
}
div.form div.wrapper > div.main > div.chat {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr auto;
  height: 50vh;
  padding: 5px 5px 0px 5px;
  gap: 15px;
}
div.form div.wrapper > div.main > div.chat > div.box {
  background-color: rgba(0, 0, 0, 0);
  display: grid;
  overflow: auto;
  align-items: end;
  /* ===== Scrollbar CSS ===== */
  scrollbar-color: #8f54a0 #ffffff;
}
div.form div.wrapper > div.main > div.chat > div.box::-webkit-scrollbar {
  width: 10px;
}
div.form div.wrapper > div.main > div.chat > div.box::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
}
div.form div.wrapper > div.main > div.chat > div.box::-webkit-scrollbar-thumb {
  background-color: rgba(147, 147, 147, 0.3294117647);
  border-radius: 8px;
  border: 1px solid rgba(0, 61, 140, 0.2745098039);
}
div.form div.wrapper > div.main > div.chat div.dockmsg {
  background-color: rgba(0, 0, 0, 0);
  height: fit-content;
}
div.form div.wrapper > div.main > div.chat > button#btnEnviar {
  background-color: #fff;
  padding: 4px 8px;
  height: fit-content;
  display: grid;
  align-self: center;
  gap: 0 5px;
  align-items: center;
  outline: 0;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 0px 1px 3px 0px rgba(0, 60, 140, 0.15);
}
div.form div.wrapper > div.main > div.chat > button#btnEnviar:hover {
  background-color: #f8f8f8;
  border: 1px solid rgba(0, 61, 140, 0.18);
}
div.form div.wrapper > div.main > div.chat > button#btnEnviar:active {
  background-color: #f5f5f5;
  box-shadow: 0px 1px 3px 0px rgba(0, 60, 140, 0.15);
}
div.form div.wrapper > div.main > div.chat > button#btnEnviar:focus {
  background-color: #f8f8f8;
  box-shadow: 0px 1px 3px 0px rgba(0, 60, 140, 0.15);
  border: 1px solid rgba(0, 61, 140, 0.28);
}
div.form div.wrapper > div.main > div.chat > button#btnEnviar > span {
  width: 100%;
  color: #003d8c;
  font-size: 1.1rem;
  font-family: "DosisMedium", "OpenSansSemiBold", "Segoe UI", sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
div.form div.wrapper > div.footer {
  background-color: #F8F8F8;
  padding: 8px 25px;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr auto auto;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
div.form div.wrapper > div.footer > button.btnVoltar,
div.form div.wrapper > div.footer > button.btnSalvar {
  background-color: #fff;
  padding: 2px 8px;
  height: fit-content;
  display: grid;
  align-self: center;
  gap: 0 5px;
  align-items: center;
  outline: 0;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 0px 1px 3px 0px rgba(0, 60, 140, 0.15);
}
div.form div.wrapper > div.footer > button.btnVoltar:hover,
div.form div.wrapper > div.footer > button.btnSalvar:hover {
  background-color: #f8f8f8;
  border: 1px solid rgba(0, 61, 140, 0.18);
}
div.form div.wrapper > div.footer > button.btnVoltar:active,
div.form div.wrapper > div.footer > button.btnSalvar:active {
  background-color: #f5f5f5;
  box-shadow: 0px 1px 3px 0px rgba(0, 60, 140, 0.15);
}
div.form div.wrapper > div.footer > button.btnVoltar:focus,
div.form div.wrapper > div.footer > button.btnSalvar:focus {
  background-color: #f8f8f8;
  box-shadow: 0px 1px 3px 0px rgba(0, 60, 140, 0.15);
  border: 1px solid rgba(0, 61, 140, 0.28);
}
div.form div.wrapper > div.footer > button.btnVoltar > span,
div.form div.wrapper > div.footer > button.btnSalvar > span {
  width: 100%;
  color: #003d8c;
  font-size: 0.9rem;
  font-family: "DosisMedium", "OpenSansSemiBold", "Segoe UI", sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
div.form div.wrapper > div.footer > button.btnVoltar > span {
  color: #BF5A4E;
}

.perguntas {
  background: #fff;
  margin: 15px 5px;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 15px;
  text-align: left;
}

.displayResp {
  background: #D7FBD1;
  margin: 15px 5px;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 15px;
  text-align: center;
  justify-self: end;
}

.msgFinal {
  background: #fff;
  margin: 15px 5px;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 15px;
  text-align: center;
}

.typingIndicator {
  background-color: #E6E7ED;
  will-change: transform;
  height: 26px;
  width: 40px;
  border-radius: 2px 13px 13px 13px;
  display: flex;
  flex-flow: row nowrap;
  margin: 15px 5px;
  animation: 2s bulge infinite ease-out;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
}
.typingIndicator span {
  height: 6px;
  width: 6px;
  margin: 0 1px;
  background-color: #9E9EA1;
  display: block;
  border-radius: 50%;
  opacity: 0.4;
}
.typingIndicator span:nth-of-type(1) {
  animation: 1s blink infinite 0.3333s;
}
.typingIndicator span:nth-of-type(2) {
  animation: 1s blink infinite 0.6666s;
}
.typingIndicator span:nth-of-type(3) {
  animation: 1s blink infinite 0.9999s;
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}
@keyframes bulge {
  50% {
    transform: scale(1.05);
  }
}
.msgInical {
  background-color: rgba(0, 0, 0, 0);
  padding: 10px 15px;
  display: grid;
  justify-items: center;
  justify-content: center;
}
.msgInical > .chatBotIcon {
  margin: 10px;
  height: 50px;
  width: 50px;
}
.msgInical > div.content {
  display: grid;
  justify-items: center;
  gap: 10px;
}
.msgInical > div.content > p.titulo {
  color: #F26B6B;
  font-size: 1.2rem;
  font-family: DosisLight, "Segoe UI", sans-serif;
  display: grid;
  align-items: flex-end;
  background-color: #fff;
}
.msgInical > div.content > p.subtitulo {
  color: #003C8C;
  font-size: 0.94rem;
  font-family: "JosefinSansRegular", "OpenSansSemiBold", "Segoe UI", sans-serif;
  letter-spacing: normal;
  font-weight: normal;
  background-color: #fff;
  max-width: 80%;
}

label.dynInputTypes {
  background-color: #F0F0F0;
  background-color: rgba(0, 0, 0, 0.0509803922);
  padding: 4px 6px;
  height: fit-content;
  width: 100%;
  display: grid;
  gap: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.02);
  box-shadow: 0px 1px 3px 0px rgba(0, 60, 140, 0);
}
label.dynInputTypes:hover {
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.03);
}
label.dynInputTypes:active {
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 61, 140, 0.04);
}
label.dynInputTypes:focus-within {
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 61, 140, 0.05);
}
label.dynInputTypes > input {
  font-size: 0.8rem;
  font-family: "OpenSansSemiBold", "Segoe UI", sans-serif;
  color: #003c8c;
  background-color: transparent;
  padding: 0.2rem 0.1rem;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
}
label.dynInputTypes > input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 0.8rem;
  font-family: "Open Sans Regular", "Segoe UI", sans-serif;
  color: #b9babe;
  color: #003c8c;
  opacity: 1;
  /* Firefox */
}

> label.dynInputTypes > button {
  color: tomato;
  background-color: transparent;
  outline: none;
  border: none;
}
> label.dynInputTypes > button > svg {
  fill: #003c8c;
  height: 12pt;
}

select.minimal {
  background-color: #F0F0F0;
  background-color: rgba(0, 0, 0, 0.0509803922);
  padding: 10px 5px;
  height: fit-content;
  width: 100%;
  display: grid;
  gap: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.02);
  box-shadow: 0px 1px 3px 0px rgba(0, 60, 140, 0);
  -webkit-appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}
select.minimal.minimal:focus {
  background-image: linear-gradient(45deg, green 50%, transparent 50%), linear-gradient(135deg, transparent 50%, green 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}
select.minimal:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

div.selcImg {
  background-color: #f0f0f0;
  padding: 10px 15px;
  width: 550px;
  position: absolute;
  z-index: 1000;
  display: none;
  grid-template-rows: auto 1fr auto;
  grid-template-rows: 0.1fr 1fr 0.1fr;
  align-items: center;
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.09);
}
div.selcImg > div.header {
  padding: 15px 5px;
  height: fit-content;
  display: grid;
  justify-items: center;
  justify-content: center;
}
div.selcImg > div.header > span.titulo {
  width: 100%;
  color: #003d8c;
  color: crimson;
  font-size: 1.2rem;
  font-family: "OswaldMedium", "OpenSansSemiBold", "Segoe UI", sans-serif;
  letter-spacing: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
div.selcImg > div.main {
  background-color: rgba(0, 0, 0, 0);
}
div.selcImg > div.main .image-selector {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr;
}
div.selcImg > div.main .image-selector .input-file {
  display: none;
}
div.selcImg > div.main .image-selector label {
  background-color: #F0F0F0;
  background-color: rgba(0, 0, 0, 0.0117647059);
  padding: 4px 6px;
  height: fit-content;
  width: 100%;
  display: grid;
  gap: 4px;
  grid-template-columns: auto 1fr auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.02);
  box-shadow: 0px 1px 3px 0px rgba(0, 60, 140, 0);
}
div.selcImg > div.main .image-selector label:hover {
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.03);
}
div.selcImg > div.main .image-selector label:active {
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 61, 140, 0.04);
}
div.selcImg > div.main .image-selector label:focus-within {
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 61, 140, 0.05);
}
div.selcImg > div.main .image-selector label > span {
  width: 100%;
  color: #003d8c;
  font-size: 0.9rem;
  font-family: "DosisMedium", "OpenSansSemiBold", "Segoe UI", sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
div.selcImg > div.main .image-selector .input-file-text {
  display: inline-block;
  vertical-align: middle;
}
div.selcImg > div.main .image-selector .image-preview {
  height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
div.selcImg > div.main .image-selector .image-preview img {
  height: 100%;
  width: auto;
}
div.selcImg > div.main .image-selector div.infos {
  display: grid;
  gap: 5px;
  grid-template-columns: min-content 1fr;
  overflow: hidden;
}
div.selcImg > div.main .image-selector div.infos > span {
  width: 100%;
  color: #003d8c;
  font-size: 0.9rem;
  font-family: "DosisMedium", "OpenSansSemiBold", "Segoe UI", sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
div.selcImg > div.footer {
  padding: 10px;
  display: grid;
  gap: 0 8px;
  grid-template-columns: 1fr auto auto;
}
div.selcImg > div.footer > button.btnAction,
div.selcImg > div.footer button.btnCancelar {
  background-color: #f8f8f8;
  padding: 5px 20px;
  height: fit-content;
  display: grid;
  align-self: center;
  gap: 0 5px;
  align-items: center;
  outline: 0;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 0px 1px 3px 0px rgba(0, 60, 140, 0.15);
}
div.selcImg > div.footer > button.btnAction:hover,
div.selcImg > div.footer button.btnCancelar:hover {
  background-color: #f0f0f0;
  border: 1px solid rgba(0, 61, 140, 0.15);
}
div.selcImg > div.footer > button.btnAction:active,
div.selcImg > div.footer button.btnCancelar:active {
  background-color: #f4f4f4;
  box-shadow: 0px 1px 3px 0px rgba(0, 60, 140, 0.15);
  border: 1px solid rgba(0, 61, 140, 0.25);
}
div.selcImg > div.footer > button.btnAction:focus,
div.selcImg > div.footer button.btnCancelar:focus {
  background-color: #f4f4f4;
  box-shadow: 0px 1px 3px 0px rgba(0, 60, 140, 0.15);
  border: 1px solid rgba(0, 61, 140, 0.25);
}
div.selcImg > div.footer > button.btnAction > span,
div.selcImg > div.footer button.btnCancelar > span {
  width: 100%;
  color: #003d8c;
  font-size: 0.9rem;
  font-family: "DosisMedium", "OpenSansSemiBold", "Segoe UI", sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
div.selcImg > div.footer > button.btnCancelar > span {
  width: 100%;
  color: #BF5A4E;
  font-size: 0.9rem;
  font-family: "DosisMedium", "OpenSansSemiBold", "Segoe UI", sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.activeMove {
  background-color: yellow !important;
  cursor: move;
  user-select: none;
}

.activeMoveX {
  background-color: rebeccapurple !important;
  cursor: move;
  user-select: none;
}

div.gravadorAudio {
  background-color: #f0f0f0;
  padding: 10px 15px;
  width: 550px;
  position: absolute;
  z-index: 1000;
  display: none;
  grid-template-rows: auto 1fr auto;
  grid-template-rows: 0.1fr 5fr 0.1fr;
  align-items: center;
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.09);
}
div.gravadorAudio > div.header {
  padding: 15px 5px;
  height: fit-content;
  display: grid;
  justify-items: center;
  justify-content: center;
}
div.gravadorAudio > div.header > span.titulo {
  width: 100%;
  color: #003d8c;
  color: crimson;
  font-size: 1.2rem;
  font-family: "OswaldMedium", "OpenSansSemiBold", "Segoe UI", sans-serif;
  letter-spacing: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
div.gravadorAudio > div.main {
  background-color: rgba(0, 0, 0, 0);
}
div.gravadorAudio > div.main > div.dockRec {
  display: grid;
}
div.gravadorAudio > div.main > div.dockRec > div.main {
  display: grid;
  display: grid;
  justify-items: center;
  align-items: center;
}
div.gravadorAudio > div.main > div.dockRec > div.main > .btnIniStopRec {
  position: relative;
  width: 64px;
  height: 64px;
  border: 5px solid gainsboro;
  border-radius: 50%;
  box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.29), 0px 0px 4px 0px rgba(0, 0, 0, 0.29);
}
div.gravadorAudio > div.main > div.dockRec > div.main > .btnIniStopRec > svg {
  height: 28px;
  fill: gainsboro;
}
div.gravadorAudio > div.main > div.dockRec > div.main > .btnIniStopRec.gravando > svg {
  height: 28px;
  z-index: 2;
  position: relative;
  fill: black;
}
div.gravadorAudio > div.main > div.dockRec > div.main > .btnIniStopRec.gravando:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  z-index: 5;
  display: block;
  width: 130px;
  height: 130px;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: #01a4e9;
  background-color: gainsboro;
  animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}
div.gravadorAudio > div.main > div.dockRec > div.main > .btnIniStopRec.gravando:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 45px;
  height: 45px;
  background-color: red;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 1) -0.4s infinite;
}
@keyframes pulse-ring {
  0% {
    transform: translate(-50%, -50%) scale(0.63);
  }
  80%, 100% {
    opacity: 0;
  }
}
@keyframes pulse-dot {
  0% {
    transform: translate(-50%, -50%) scale(0.9);
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.9);
  }
}
div.gravadorAudio > div.main > div.dockRec > div.main > div.player {
  padding: 5px;
  width: 100%;
  display: grid;
  gap: 35px;
  grid-auto-flow: column;
  justify-content: center;
  justify-items: center;
}
div.gravadorAudio > div.main > div.dockRec > div.main > div.player > audio {
  display: none;
}
div.gravadorAudio > div.main > div.dockRec > div.main > div.player > div.controls {
  background-color: lightcyan;
  height: 42px;
  width: 42px;
  display: grid;
  border-radius: 50%;
  outline: 1px solid rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  align-items: center;
  position: relative;
}
div.gravadorAudio > div.main > div.dockRec > div.main > div.player > div.controls > div.ctrlsSecundario {
  background-color: #fff;
  padding: 5px 10px 5px 5px;
  min-height: 30px;
  max-height: 30px;
  display: grid;
  gap: 5px;
  grid-auto-flow: column;
  position: absolute;
  left: -105px;
}
div.gravadorAudio > div.main > div.dockRec > div.main > div.player > div.controls > div.ctrlsSecundario > button.btnRestart,
div.gravadorAudio > div.main > div.dockRec > div.main > div.player > div.controls > div.ctrlsSecundario > button.btnVoltSegs,
div.gravadorAudio > div.main > div.dockRec > div.main > div.player > div.controls > div.ctrlsSecundario > button.btnAvaSegs {
  padding: 1px 4px;
  height: fit-content;
  width: fit-content;
  display: grid;
  align-items: center;
  outline: 0;
  white-space: nowrap;
  align-self: center;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  box-shadow: 0px 1px 3px 0px rgba(0, 60, 140, 0.15);
}
div.gravadorAudio > div.main > div.dockRec > div.main > div.player > div.controls > div.ctrlsSecundario > button.btnRestart:hover,
div.gravadorAudio > div.main > div.dockRec > div.main > div.player > div.controls > div.ctrlsSecundario > button.btnVoltSegs:hover,
div.gravadorAudio > div.main > div.dockRec > div.main > div.player > div.controls > div.ctrlsSecundario > button.btnAvaSegs:hover {
  background-color: #f8f8f8;
  border: 1px solid rgba(0, 61, 140, 0.18);
}
div.gravadorAudio > div.main > div.dockRec > div.main > div.player > div.controls > div.ctrlsSecundario > button.btnRestart:active,
div.gravadorAudio > div.main > div.dockRec > div.main > div.player > div.controls > div.ctrlsSecundario > button.btnVoltSegs:active,
div.gravadorAudio > div.main > div.dockRec > div.main > div.player > div.controls > div.ctrlsSecundario > button.btnAvaSegs:active {
  background-color: #f8f8f8;
  box-shadow: 0px 1px 3px 0px rgba(0, 60, 140, 0.15);
  border: 1px solid rgba(0, 61, 140, 0.404);
}
div.gravadorAudio > div.main > div.dockRec > div.main > div.player > div.controls > div.ctrlsSecundario > button.btnRestart > svg,
div.gravadorAudio > div.main > div.dockRec > div.main > div.player > div.controls > div.ctrlsSecundario > button.btnVoltSegs > svg,
div.gravadorAudio > div.main > div.dockRec > div.main > div.player > div.controls > div.ctrlsSecundario > button.btnAvaSegs > svg {
  height: 13pt;
  fill: #707277;
}
div.gravadorAudio > div.main > div.dockRec > div.main > div.player > div.controls > button.btnPlayPause {
  background-color: gainsboro;
  height: 42px;
  width: 42px;
  display: grid;
  justify-items: center;
  border-radius: 50%;
  outline: 1px solid rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  align-items: center;
  position: absolute;
  z-index: 2;
}
div.gravadorAudio > div.main > div.dockRec > div.main > div.player > div.controls > button.btnPlayPause > svg.playIcon {
  fill: #707277;
  display: grid;
}
div.gravadorAudio > div.main > div.dockRec > div.main > div.player > div.controls > button.btnPlayPause > svg.pauseIcon {
  fill: #707277;
  display: none;
}
div.gravadorAudio > div.main > div.dockRec > div.main > div.player > div.controls > button.btnPlayPause.activePlay > svg.playIcon {
  fill: #707277;
  display: none;
}
div.gravadorAudio > div.main > div.dockRec > div.main > div.player > div.controls > button.btnPlayPause.activePlay > svg.pauseIcon {
  fill: #707277;
  display: grid;
}
div.gravadorAudio > div.main > div.dockRec > div.main > div.player > div.controls > div.times {
  background-color: green;
  background-color: #FFF;
  padding: 5px 5px 5px 10px;
  min-height: 30px;
  max-height: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  position: relative;
  z-index: 1;
  right: -36px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 3px 0px rgba(0, 60, 140, 0.15);
}
div.gravadorAudio > div.main > div.dockRec > div.main > div.player > div.controls > div.times > span {
  color: #707277;
  font-size: 0.8rem;
  font-family: "OpenSansRegular", "Segoe UI", sans-serif;
}
div.gravadorAudio > div.main > div.dockRec > div.main > div.player > div.controls > div.times::before {
  content: "";
  position: absolute;
  top: 0;
  left: 4px;
  height: 100%;
  width: var(--progress, 0%);
  background-color: rgba(53, 53, 53, 0.3098039216);
  background-color: rgba(0, 86, 255, 0.3098039216);
}
div.gravadorAudio > div.footer {
  padding: 10px;
  display: grid;
  gap: 0 8px;
  grid-template-columns: 1fr auto auto;
}
div.gravadorAudio > div.footer > button.btnAction,
div.gravadorAudio > div.footer button.btnCancelar {
  background-color: #f8f8f8;
  padding: 5px 20px;
  height: fit-content;
  display: grid;
  align-self: center;
  gap: 0 5px;
  align-items: center;
  outline: 0;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 0px 1px 3px 0px rgba(0, 60, 140, 0.15);
}
div.gravadorAudio > div.footer > button.btnAction:hover,
div.gravadorAudio > div.footer button.btnCancelar:hover {
  background-color: #f0f0f0;
  border: 1px solid rgba(0, 61, 140, 0.15);
}
div.gravadorAudio > div.footer > button.btnAction:active,
div.gravadorAudio > div.footer button.btnCancelar:active {
  background-color: #f4f4f4;
  box-shadow: 0px 1px 3px 0px rgba(0, 60, 140, 0.15);
  border: 1px solid rgba(0, 61, 140, 0.25);
}
div.gravadorAudio > div.footer > button.btnAction:focus,
div.gravadorAudio > div.footer button.btnCancelar:focus {
  background-color: #f4f4f4;
  box-shadow: 0px 1px 3px 0px rgba(0, 60, 140, 0.15);
  border: 1px solid rgba(0, 61, 140, 0.25);
}
div.gravadorAudio > div.footer > button.btnAction > span,
div.gravadorAudio > div.footer button.btnCancelar > span {
  width: 100%;
  color: #003d8c;
  font-size: 0.9rem;
  font-family: "DosisMedium", "OpenSansSemiBold", "Segoe UI", sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
div.gravadorAudio > div.footer > button.btnCancelar > span {
  width: 100%;
  color: #BF5A4E;
  font-size: 0.9rem;
  font-family: "DosisMedium", "OpenSansSemiBold", "Segoe UI", sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}/*# sourceMappingURL=leiaute.css.map */